@font-face{
    font-family: "bellefair";
    src: url('Bellefair-Regular.ttf')
}

@font-face{
    font-family: "cartoon";
    src: url('Super\ Cartoon.ttf')
}

@font-face{
    font-family: "honey";
    src: url('Honey\ Ponds.otf')
}

@font-face{
    font-family: "grand_hotel";
    src: url('GrandHotel-Regular.ttf')
}

@font-face{
    font-family: "adinekir";
     src: url('adinekir.ttf')
}

@font-face{
    font-family: "blackrose";
     src: url('BlackRoseGothic-Free-BF672d8ad1746f0.ttf')
}


a:-webkit-any-link{
    cursor: url(https://files.catbox.moe/ix94ii.png), pointer;
}

::selection{
   text-shadow: 0 0 2px #ffffff;color:#ffffff 
}

::-moz-selection{
   text-shadow: 0 0 2px #ffffff;color:#ffffff
}

.container1{
    position: absolute;
    top: 120px;
    left: 740px;
    width: 1000px;
    height: 1280px;
    background-image: url('https://i.pinimg.com/736x/a8/ad/0a/a8ad0a9fd69b2e11324c16bd93bb6406.jpg');
    background-size: 40%;
    border: 6px dotted #be9595;
    box-shadow: 0px 0px 10px #765a62;
}

.container2{
    position: absolute;
    top: 40px;
    left: 50px;
    width: 900px;
    height: 1200px;
    background-color: #c7a8ad;
    box-shadow: 0px 0px 10px #765a62;
    border: 6px solid #967757;
}

.container3{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 860px;
    height: 1160px;
    background-color: #fbf8fd;
    border: 2px solid #fadaeb;
}

.container31{
    z-index: 1;
    position: absolute;
    height: 400px;
    width: 300px;
    top: 360px;
    left: 36px;
    border-radius: 20%;
    border: 6px solid #dea2bd;
    background-color: #f4e0bd;
    box-shadow: 10px 10px  rgb(255, 255, 255);
}

.container4{
    position: absolute;
    top: 760px;
    width: 858px;
    height: 400px;
    background-color: #f9dbea;
    border: 2px solid #fadaeb;
}

#credits{
    position: absolute;
    top: 1146px;
    left: 20px;
    width: 864px;
    height:40px;
    background-color: #bfc5e5;
}

#title{
    z-index: 2;
    position: absolute;
    font-family: 'grand_hotel';
    font-size: 100px;
    color:#967757;
    left: 30px;

}

#title2{
    z-index: 1;
    position: absolute;
    font-family: 'grand_hotel';
    font-size: 100px;
    color:#e9ebf6;
    top: 4px;
    left: 34px;

}

#headdeco1{
    position: absolute;
    margin-top: -6px;
    margin-left: -1px;
    transform: scale(1.008,1);
}

#charms{
    position: absolute;
    z-index: 1;
    transform: scale(.68);
    top: 160px;
    left: 350px;
}

#iframeinsta{
    z-index: 5;
    position: absolute;
    top: 234px;
    left: 407px;
    width: 400px;
    height: 200px;
}

#whiteboard{
    position: absolute;
    top: 160px;
    left: 310px;
    transform: scale(.76);
}

#header2{
    position: absolute;
    transform: scale(.4,.4);
    left: -244px;
    top: -60px;
}

p1{
    color: #a9afd3;
}

p2{
    color:#ec96c3;
}

#lace{
    z-index: 100;
    position: absolute;
    color:#ffffff;
    top: 920px;
    left: 590px;
    opacity: 40%;
}

#wishlist{
    position: absolute;
    top: 770px;
    left: 10px;
    transform: scale(.8);
}

#wishlisttitle{
    z-index: 2;
    position: absolute;
    font-family: 'grand_hotel';
    font-size: 60px;
    color:#ffffff;
    left: 30px;
}

#wishlisttitle1{
    z-index: 1;
    position: absolute;
    font-family: 'grand_hotel';
    font-size: 60px;
    color:#967757;
    top: 4px;
    left: 34px;
}

#rilakkumagif{
    z-index: 3;
    position: absolute;
    top: 420px;
    left: 336px;
    transform: scale(.36);
    filter: saturate(1.2);
}

iframe{
    z-index: 5;
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 267px;
    top: 240px;
    left: 410px;
    border-radius: 4%;
    overflow: auto; /* Use a container for scrollbars */
    cursor: url(https://files.catbox.moe/buwod3.png), auto;
}

#sizes{
    position: absolute;
    top: 560px;
    left: 630px;
    width: 200px;
    height: 166px;
    background-image: url('https://i.pinimg.com/736x/db/5d/fe/db5dfe2c6b1c4b680ceed5336e0ff88a.jpg');
    background-size:120%;
    border: #ec96c3 4px solid;
    border-radius: 4%;
}

.wishlistcontainer{
    position: absolute;
    top: 110px;
    left: 15px;
    height: 230px;
    width: 358px;
    background-color: #36407700;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5px;
}

.wishlistcontainer::-webkit-scrollbar {
    width: 4px;
} 
    
.wishlistcontainer::-webkit-scrollbar-thumb{
    background-color:#bab9ba;
    z-index: 10;
}

#images{
    transform: scale(1.2);
    margin-left: 20px;
    margin-top: 11px;
}

#irl{
    z-index: 1;
    position: absolute;
    left: 310px;
    top: -22px;
    transform: scale(.7);
    border-radius: 10%;
    border:#364077 solid 8px;
    height: 400px;
    width: 600px;
    background-image: url('https://files.catbox.moe/5r03mf.jpg');
    background-size: 100%;
    box-shadow: 10px 10px  rgb(255, 255, 255);
    filter: brightness(1.1) saturate(1.2);
}

#container31text{
    position: absolute;
    width: 280px;
    top: 40px;
    left: 10px;
    font-family: 'honey';
    color:#7a6b71;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: dotted 4px;
}

p3{
    margin-left: 100px;
}

#container31text1{
    position: absolute;
    width: 280px;
    top: 220px;
    left: 10px;
    font-family: 'honey';
    color:#7a6b71;
    font-size: 18px;
}

#text1{
    position: absolute;
    font-family: 'grand_hotel';
    color: #7a6b71;
    font-size: 26px;
    left: 100px;
}



#context_menu{
    position: absolute;
    display: none;
    z-index: 11111;
    background-image: url('https://files.catbox.moe/khyxho.webp');
    transform: scale(.4);
    width: 340px;
    height: 300px;
    filter: saturate(.9);
}

#banner1text{
    position: absolute;
    font-size: 38px;
    top: 12px;
    left: 146px;
    font-family: 'cartoon';
    color:#364077;
    -webkit-text-stroke: 2px #e9ebf6;
}

#additional_info{
    position: absolute;
    z-index: 6;
    left: 516px;
    top: 30px;
    transform: scale(.8);
}

#sign{
    position: absolute;
    top: 550px;
    left: 390px;
    transform: scale(1.1);
}

#signtext{
    position: absolute;
    font-size: 12px;
    top: 79px;
    left: 34px;
    color: #402a2a;
    font-family: 'cartoon';
    width: 170px;
}

#qrcode{
    z-index: 6;
    top: -450px;
    left: 280px;
    position: absolute;
    transform: scale(.1);
}

#rilapic1{
    position: absolute;
    transform: scale(.2);
    top: -258px;
    left: -760px;
    filter: brightness(1.1) saturate(1.2);
}

#banner1{
    z-index: 2;
    transform: scale(.6);
    position: absolute;
    top: 340px;
    left: -56px;
    filter:  saturate(1.2);
}

#banner2{
    z-index: 2;
    transform: scale(.6);
    position: absolute;
    top: 746px;
    left: 400px;
    filter:  saturate(1.2);
}

#banner1text1{
    position: absolute;
    font-size: 38px;
    top: 12px;
    left: 146px;
    font-family: 'cartoon';
    color:#364077;
    -webkit-text-stroke: 2px #e9ebf6;
}

body{
   background-image: url('https://i.pinimg.com/736x/08/c1/85/08c1850e2e4c7e933251adf793ed382c.jpg');
   background-size: 10%;
   width: 100vw;
   height: 100vh;
   margin: 0;
   overflow-y: hidden;
   overflow-x: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: url(https://files.catbox.moe/buwod3.png), auto;
    font-family:'bellefair';
    font-weight: 500;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*ipad/tablet screens*/


@media screen and (min-width: 800px) and (orientation: landscape){
    #everything { position: absolute; zoom: 40%;
    left:-320px;
    top:-120px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 900px) and (orientation: landscape){
    #everything { position: absolute; zoom: 50%;
    left:-400px;
    top:-100px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 1000px) and (orientation: landscape){
    #everything { position: absolute; zoom: 45%;
    left:-130px;
    top:-100px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

/*mobile screens*/

@supports not (-webkit-touch-callout: none) {
    @media screen and (min-width: 1px) and (max-width: 428px) and (orientation: portrait){
    #everything { position: absolute; zoom: 34%;
    left:1300px;
    top:-220px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); 
  }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}}


/*monitors*/

@media screen and (min-width: 1200px) and (orientation: landscape){
    #everything { 
    position: absolute; 
    zoom: 60%;
    left:-200px;
    top:-100px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 1300px) and (orientation: landscape){
    #everything { 
    position: absolute; 
    zoom: 58%;
    left:-80px;
    top:-100px;  }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 1400px) and (orientation: landscape){
    #everything { position: absolute; zoom: 68%;
        left:-180px;
        top:-100px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 1600px) and (orientation: landscape){
    #everything { position: absolute; zoom: 84%;
    left:90px;
    top:-200px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 1680px) and (orientation: landscape){
    #everything { position: absolute; zoom: 80%;
    left:-200px;
    top:-105px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

    
@media screen and (min-width: 1700px) and (orientation: landscape){
    #everything { position: absolute; zoom: 100%;
    left:-340px;
    top:-80px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 1900px) and (orientation: landscape){
    #everything { position: absolute; zoom: 80%;
    left:-80px;
    top: -86px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

/*around my monitor size*/

@media screen and (min-width: 2000px) and (orientation: landscape){
    #everything { 
        position: absolute;
        zoom: 90%;
        top: -100px;
        left: -180px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 2200px) and (orientation: landscape){
    #everything { 
        position: absolute;
        zoom: 90%;
        top: -100px;
        left: -100px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width: 2500px) and (orientation: landscape){
    #everything { 
        position: absolute;
        zoom: 100%;
        top: -40px;
        left: -20px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

    @media screen and (min-width: 3000px) and (orientation: landscape){
    #everything { position: absolute; zoom: 260%;
    left:240px;
    top:80px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
} 


/* tv monitors for some reason*/

@media screen and (max-width:640px) and (orientation: landscape){
    #everything { 
        position: absolute;
        zoom: 40%;
        top: -100px;
        left: -540px; }
    #text { 
        overflow: auto; 
        overflow: scroll; 
    }
    #text111{
        -webkit-text-size-adjust: 145%;
        text-size-adjust: 145%;
        line-height: 10px !important;
        opacity: 90% !important;
    }
    #context_menu{
        line-height: 24px !important;
    }
}

@media screen and (min-width:3840px) and (orientation: landscape){
            #everything { 
                position: absolute;
                zoom: 190%;
                top: -160px;
                left: -320px; }
            #text { 
                overflow: auto; 
                overflow: scroll; 
            }
            #text111{
                -webkit-text-size-adjust: 145%;
                text-size-adjust: 145%;
                line-height: 10px !important;
                opacity: 80% !important;
            }
            #context_menu{
                line-height: 24px !important;
            }
            
}

@media screen and (min-width:7000px) and (orientation: landscape){
                #everything { 
                    position: absolute;
                    zoom: 200%;
                    top: -180px;
                    left: 480px; }
                #text { 
                    overflow: auto; 
                    overflow: scroll; 
                }
                #text111{
                    -webkit-text-size-adjust: 145%;
                    text-size-adjust: 145%;
                    line-height: 10px !important;
                    opacity: 80% !important;
                }
                #context_menu{
                    line-height: 24px !important;
                }
}
    
   